body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#logoHeader{
  width: 11rem;
  margin: 0rem 10rem 0rem 0rem;
  
}

#avatarUser {
  width: 2rem;
 
}

#shoppingCart{
  width: 2rem;
  padding: 0rem 0rem 0rem 2rem;
  
}

#containerHeader{
  padding: 0rem 0rem 0rem 4rem;
  margin: -4rem 0rem 0rem 11rem;
}


.container{
  margin: auto;
  background-color: white;
  padding: 30px 0px 0px 0px;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
  position: relative;
  height: 300px;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
}

ul.slider li img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1; 
}

ul.slider li:target {
    opacity: 1; 
}

.menu{
  text-align: center;
  margin: 5px;
}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a{
  display: inline-block;
  background-color: rgba(128, 128, 128, 0.342);
  padding: 10px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 10px;
}

.form-control{
  width:180px;
	padding:4px 40px 3px 28px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0px 0px 31px;
	display:inline-block;
}

.btn-primary{
  position: initial;
  width: 130px;
  height: 43px;
  background: #56BECC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: rgb(255, 255, 255);
  font-size: 79%;
  border: none;
  border-radius: 5%;
  margin: 9px 0px 0px 39px;
  font-weight: bold;
}

#styleId{
  color:#fafafa83;
  font-weight: 300;
  text-align: left;
  font-size: small;
}

#styleIdChar{
  color:#fafafa;
  font-weight: 300;
  text-align: left;
  margin: 16px 0px -5px 0px;
}


#styleProductName{
  color:#fafafa;
  font-weight: 600;
  text-align: left;
  font-size: 2rem;
  margin: -9px 0px -9px 0px;

}

#stylePriceName{
  color:#fafafa;
  font-weight: 500;
  text-align: left;
  font-size: 1.5rem;
  margin: 13px 0px -9px 0px;

}

.table{
  margin: auto;
  background-color: #636363;
  padding: 30px 40px 0px 25px;

}

#product-photos{
  width: 20rem;
  
}

#card{
  background-color: #cddee063;
  padding: 0rem;

}